*{
    padding: 0;
    margin: 0;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
}
body{
    height: 100vh;
}
/* 头部 */
.header{
    
    width: 100%;
    height: 80px;
    background-color: white;
    z-index: 9999999;
}
/* 版心 */
.header .header_con{
    width: 1100px;
    height: 80px;
    background-color: white;
    margin: auto;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    font-size: 30px;
}
/* 版心左边 */
.header .header_con_left{
    display: flex;
    flex-direction: row;
}
.header .header_con_left .logo{
    margin-right: 10px;
    width: 60px;
    height: 60px;
}
.header .header_con_left .logo img{
    width: 50px;
    height: 50px;
}
.header .header_con_left .zi span{
    margin-left: 10px;
    display: inline-block;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background-color: #e22000;
    margin-bottom: 6px;
}
/* 版心右边 */
.header .header_con_right{
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 27px;
}
.header .header_con_right .right_left{
    width: 300px;
    height: 35px;
    border-radius: 25px;
    border: 1px solid black;
}

.header .header_con_right #ipt{
    width: 250px;
    height: 30px;
    transform: translateY(-6px);
    margin-left: 10px;
    outline: none;
    border: none;
}
.header .header_con_right .shop{
    font-size: 18px;
    margin-left: 10px;
}
.header .header_con_right .person{
    font-size: 18px;
    margin-left: 10px;
}
.header_con_right .right_left span{
    display: inline-block;
    transform: translate(12px,-3px);
    font-size: 24px;
}
.header_con_right #shop{
    margin-left: 10px;
    font-size: 46px;
}


/*..............content_............*/
.content{
	width: 1100px;
	height: 4200px;
    margin: 0 auto;
}
.content-top{
	width: 100%;
	height: 80px;
	border-bottom: 1px solid #333;
	line-height: 80px;
}
.content-top>a{
	display: block;
	float: left;
	color: #333;
	font-size: 18px;
	font-weight: 600;
}
.content-top>p{
	float: left;
	color: #999;
	font-size: 16px;
	margin-left: 10px;
}
.content-nav{
	width: 1098px;
	height: 180px;
	border: 1px solid #e5e5e5;
	margin-top: 20px;
}
.content-ttp{
	width: 100%;
	height: 88px;
	border: 1px solid #e5e5e5;
}
.brand{
	width: 80px;
	height: 44px;
	color: #999;
	text-align: center;
	line-height: 44px;
	float: left;
	font-size: 14px;
}
.brand-mid{
	width: 938px;
	height: 88px;
	float: left;
}
.content-nav li{
	float: left;
	height: 44px;
	padding: 0 4px;
    margin-right: 25px;
    color: #333;
	line-height: 44px;
	text-align: center;
	font-size: 14px;
}

.brand-right{
	width: 80px;
	height: 24px;
	float: left;
	margin: 10px 0px 0 0;
}
.brand-right>a{
	font-size: 14px;
	color: #333;
	display: block;
	float: left;
}
.brand-right>span{
	width: 14px;
	height: 7px;
	display: block;
	float: left;
	background: url(../image/ar.png) no-repeat -24px 0;
	margin: 6px;
}
.brand-right:hover>span{
	background: url(../image/ar.png) no-repeat 0 0;
}
.price{
	width: 305px;
	height: 44px;
	float: left;
}
.price>p{
	font-size: 14px;
	color: #333;
	float: left;
	width: 72px;
	height: 44px;
	line-height: 44px;
	text-align: center;
}
.pri{
	width: 68px;
	height: 22px;
	float: left;
	border: 1px solid #999;
	outline: 0;
	margin-top: 10px;
}
.price>span{
	display: block;
	float: left;
	width: 20px;
	height: 22px;
	border-bottom: 1px solid #999;
	margin: 0 5px;
}
.sub{
	border: 1px solid #999;
	width: 54px;
	height: 25px;
	background-color: #ccc;
	color: #fff;
	font-size: 14px;
	outline: 0;
	margin: 9px 0 0 9px;
	cursor: pointer;
}
.nav-mid{
	width: 100%;
	height: 44px;
	border: 1px solid #e5e5e5;
}
.nav-but{
	width: 100%;
	height: 44px;
}


/* ---------------content_products----------- */
.content_products{
    width: 1100px;
    height: 3800px;
    margin-top: 80px;
}
.content_products{
    margin-bottom: 30px;
    width: 1100px;
}
.content_products img{
    margin-left: 7px;
    width: 244px;
    height: 244px;
}
.content_products li{
    width: 260px;
    height: 350px;
    box-sizing: border-box;
    background-color: #f9f9f9;
    float: left;
    margin-right: 20px;
    margin-bottom: 20px;
}
.content_products li a{
    color: black;
}
.content_products li a:hover{
    /* color: black; */
    text-decoration:underline;
}
.content_products li:nth-child(4){
    margin-right: 0;
}
.content_products li:nth-child(8){
    margin-right: 0;
}
.content_products li:nth-child(12){
    margin-right: 0;
}
.content_products li:nth-child(16){
    margin-right: 0;
}
.content_products li:nth-child(20){
    margin-right: 0;
}
.content_products li:nth-child(24){
    margin-right: 0;
}
.content_products li:nth-child(28){
    margin-right: 0;
}
.content_products li:nth-child(32){
    margin-right: 0;
}
.content_products li:nth-child(36){
    margin-right: 0;
}
.content_products li:nth-child(40){
    margin-right: 0;
}
.content_products li p{
	text-align: center;
	/* height: 200px; */
    display: flex;
	flex-direction: column;
	line-height: 20px;
}
.content_products li span{
    display: inline-block;
    padding: 10px 0;
    color: red;
}

.zhekou>s{
	margin-left: 15px;
	margin-top: -5px;
	font-size: 14px;
	color: #F2C4C1;
}
.juan{
	width: auto;
	height: 18px;
	padding: 0 5px;
	border: 1px solid #D33A31;
	color: #D33A31;
	text-align: center;
	line-height: 18px;
	font-size: 12px;
	float: left;
}
.message{
	display: block;
	float: left;
	width: 262px;
	height: 38px;
	font-size: 14px;
	line-height: 20px;
	text-align: center;
	margin-bottom: 10px;
}
.message>a{
	font-size: 14px;
	color: #333;
}
.message>a:hover{
	text-decoration: underline;
}
.content_products>li>p{
	width: 100%;
	color: #D33A31;
	text-align: center;
	height: 21px;
	line-height: 21px;
}
.pages{
	width: 440px;
	height: 32px;
	margin: 0 auto;
}
.pages>li{
	width: 32px;
	height: 32px;
	float: left;
	border-radius: 5px;
	border: 1px solid #999;
	background-color: #f9f9f9;
	margin-right: 10px;
}
.pages>li:nth-child(2){
	background-color: #D33A31;
}
.pages>li:nth-child(2)>a{
	color: #fff;
}
.pages>li>a{
	display: block;
	color: #333;
	text-align: center;
	line-height: 32px;
}
.pages>li:hover{
	border: 1px solid #333;
} */














/* 尾部 */
.foot{
    margin-top: 80px;
    width: 100%;
    height: 180px;
    background-color: #f2f2f2;
}
.foot .foot_con{
    width: 1100px;
    height: 180px;
    display: flex;
    margin: auto;
    flex-direction: row;
    justify-content: space-between;
}
.foot .foot_con .foot_con_left{
    display: flex;
    flex-direction: column;
}
.foot .foot_con .foot_con_left .top{
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    margin-bottom: 10px;
    color: #999;
}
.foot_con .foot_con_left .bottom li{
    padding: 5px 0px;
}
.foot .foot_con_left .top span{
    padding: 0 10px;
}
.foot .foot_con_left .bottom{
    font-size: 12px;
    color: #333;
}
.foot .foot_con_left .bottom a{
    font-size: 12px;
    color: #333;
}
.foot .foot_con_right{
    display: flex;
    flex-direction: row;
    margin-top: 40px;
}
.foot .foot_con_right .right{
    display: flex;
    flex-direction: row;
}
.foot .foot_con_right .right li{
    margin-right: 20px;
    text-align: center;
    width: 64px;
    height: 50px;
    font-size: 10px;
    color: #333;
}
.foot .foot_con_right .right .img{
    width: 55px;
    height: 50px;
    overflow: hidden;
    
}
.foot_con_right .right #first{
    transform: translate(-60px,-80px);
}
.foot_con_right .right #sconed{
    transform: translate(0px,-80px);
}
.foot_con_right .right #three{
    transform: translate(0px,0px);
}
.foot_con_right .right #four{
    transform: translate(-60px,0px);
}